body {
    font-family: 'Inter', sans-serif;
}

a, button {
    font-family: 'Roboto', sans-serif !important;
}

.social-icon {
    font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
    .card-image {
        height: 200px;
        object-fit: cover;
    }

    .card-text {
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        border-top: none !important;
    }
}

@media screen and (max-width: 435px) {
    .banner-button {
        font-size: 1em;
        padding: 4px 8px;
    }

    .banner-title {
        font-size: 25px;
    }

    .banner-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .banner-button {
        display: none;
    }

    .banner-title {
        font-size: 20px;
    }

    .banner-text {
        font-size: 12px;
    }
}